

body {
  background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/picture-perfect-pittsburgh-pa-panorama-frozen-in-time-fine-art-photography.jpg) no-repeat center fixed;
  background-size: cover;
}

.inputs {
  opacity: 80%;
}

input, type {
  color:rgb(1, 1, 112);
}

h1 {
  color:rgb(229, 248, 129);
  font-family: 'Brush Script MT', cursive;
  text-align: center;
}

label {
  display: flex;
  margin: 10px 5px 10px;
  padding: 10px 15px 10px;
  color: rgb(184, 6, 6)
}

form {
  display: flex;
  justify-content: center, space-around;
}

.forming {
  align-items: center;
}




