

body {
  background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/picture-perfect-pittsburgh-pa-panorama-frozen-in-time-fine-art-photography.jpg) no-repeat center fixed;
  background-size: cover;
}

.inputs {
  opacity: 80%;
}

input {
  color:rgb(138, 56, 245);
  
}

h1 {
  color:rgb(229, 248, 129);
  font-family: 'Brush Script MT', cursive;
  text-align: center;
}


label {
  display: flex;
  margin: 5px;
  padding: 3px;
  color: rgb(184, 6, 6)
}

form {
  display: box;
  justify-content: center, space-around;
  align-items: center;
}


div {
  display: block;
  column-count: 3;
  border-width: 3px;
  border-style: solid;
  margin: 20px;
  padding: 10px;
}

#reserveation {
  align-items: center;
}
