

body {
  background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/picture-perfect-pittsburgh-pa-panorama-frozen-in-time-fine-art-photography.jpg) no-repeat center fixed;
  background-size: cover;
}

.inputs {
  opacity: 80%;
}

h1 {
  color:rgb(201, 227, 71);
  font-size: 40px;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  text-shadow: black 2px 2px;
}


/* label {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 5px;
  padding: 30px 0px 30px 0px;
  color: rgb(184, 6, 6);
  text-shadow: black 1px;
  border: 3px solid black;
} */

form {
  display: flexbox;
  align-items: center;
}


div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-count: 3;
  margin: 20px 0px 20px 0px;
  padding: 10px 10px;
  width: 50%;
}

#reserveation {
  text-align: center;
}

.center {
  width: 50%;
  margin: auto;
  padding: 35px;
  text-align: center;
  color: rgb(203, 226, 24);
  font-size:larger;
}

button {
  width: 50%;
  margin: auto;
  border-radius: 5px black;
}
